* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@import "../../pages/MainPage/ui/mainPage";
@import "../../pages/DetailedCard/ui/detailedCard";
@import "../../widgets/Header/ui/header";
@import "../../widgets/AllCountries/ui/mainSection";
@import "../../entities/Card/ui/card";
